<template>
    <div class="details">
            <div class="container">
              <div class="row detail-mov">
                <div class="col-md-12" v-for="(movie, index) in movies" :key="index">
                  <div v-if="proId == movie.id">
                    <h1>{{ movie.title }}</h1>
                    <img :src="movie.image" class="img-thumbnail">
                    <div class="a">
                      <span class="badge badge-pill badge-success margin-pill">{{ movie.duration }}</span>
                    </div>
                      <p class="content">Released Year : {{movie.release}}</p>
                    <p class="desc">{{movie.desc}}</p>
                  </div>
                </div>
              </div>
              <div class="button-area">
                    <router-link to="/" class="btn btn-danger">Go back </router-link>
              </div>
            </div>
            <!-- <h1>id : {{ this.$route.params.Pid }}</h1> -->
    </div>
</template>
<script>
export default {
  name: 'detail',
  data () {
    return {
      proId: this.$route.params.Pid,
      title: 'Detail',
      movies: [
        {
          title: 'Dua Garis Biru',
          image: require('../assets/3.jpg'),
          duration: '113 min',
          director: 'Gina S. Noer',
          release: 2019,
          desc: 'Bima dan Dara adalah sepasang kekasih yang masih duduk di bangku SMA. Bima memiliki nilai akademis yang rendah, dan itu sebaliknya bagi Dara. Mereka sangatlah mencintai sesama dan sering bermain bersama, hingga suatu saat, mereka melampaui batas dengan cara bersetubuh diluar nikah. Setelah kejadian itu, Bima dan Dara tidak berbicara satu sama lain, hingga suatu saat, ketika Dara dikonfirmasi hamil. Mengetahui apa yang terjadi, Bima ingin mencoba mengatakannya kepada orangtuanya, namun tidak mampu.',
          id: 1
        },
        {
          title: 'Fast Five',
          image: require('../assets/1.jpg'),
          duration: '130 min',
          director: 'Justin Lin',
          release: 2011,
          desc: 'Dominic Toretto and his crew of street racers plan a massive heist to buy their freedom while in the sights of a powerful Brazilian drug lord and a dangerous federal agent.',
          id: 2
        },
        {
          title: 'Harry Potter and the Prisoner of Azkaban',
          image: require('../assets/2.jpg'),
          duration: '142 min',
          director: 'Alfonso Cuaron',
          release: 2004,
          desc: 'Harry Potter, Ron and Hermione return to Hogwarts School of Witchcraft and Wizardry for their third year of study, where they delve into the mystery surrounding an escaped prisoner who poses a dangerous threat to the young wizard.',
          id: 3
        },
        {
          title: 'Cars 3',
          image: require('../assets/4.jpg'),
          duration: '102 min',
          director: 'Brian Fee',
          release: 2017,
          desc: 'Lightning McQueen sets out to prove to a new generation of racers that he is still the best race car in the world.',
          id: 4
        }
      ]
    }
  }
}
</script>
<style>
  .detail-mov
  {
    text-align: center
  }
  .a
  {
    margin-top: 10px;
  }
  .desc
  {
    text-align: left;
  }
  p, h1, h2, h3, h4
  {
    color: #f1f3f4;
  }
</style>
